<h1>Cadastre um Imóvel</h1>
<% if @property.errors.any? %>
  <ul>
  <% @property.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<%= form_for @property do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :property_type_id, 'Tipo do Imóvel'  %>
  <%= f.collection_select(:property_type_id, @property_types, :id, :name) %>

  <%= f.label :location , 'Localização'%>
  <%= f.text_field :location %>

  <%= f.label :area , 'Área'%>
  <%= f.text_field :area %>

  <%= f.label :description , 'Descrição'%>
  <%= f.text_field :description %>

  <%= f.label :daily_rate , 'Valor da Diária'%>
  <%= f.text_field :daily_rate %>

  <%= f.label :rooms , 'Quantidade de Quartos'%>
  <%= f.text_field :rooms %>

  <%= f.label :minimum_rent_days , 'Mínimo de Diárias'%>
  <%= f.text_field :minimum_rent_days %>

  <%= f.label :maximum_rent_days , 'Máximo de Diárias'%>
  <%= f.text_field :maximum_rent_days %>

  <%= f.label :maximum_occupancy , 'Ocupação Máxima'%>
  <%= f.text_field :maximum_occupancy %>

  <%= f.label :usage_rules , 'Regras de Uso'%>
  <%= f.text_field :usage_rules %>

  <%= f.label :photo , 'Foto'%>
  <%= f.text_field :photo %>

  <%= f.submit 'Cadastrar' %>


<% end %>
