<h1>Enviar Proposta</h1>
<% if @proposal.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @proposal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <div class="col-md-7">
    <%= form_for [@property, @proposal] do |f| %>
      <div class="form-group">
        <%= f.label :start_date, 'Data Inicial' %>
        <%= f.text_field :start_date, class: 'form-control ' %>
      </div>
      <div class="form-group">
        <%= f.label :end_date, 'Data Final' %>
        <%= f.text_field :end_date, class: 'form-control ' %>
      </div>
      <div class="form-group">
        <%= f.label :total_guests, 'Quatidade de Pessoas' %>
        <%= f.number_field :total_guests, class: 'form-control ' %>
      </div>
      <div class="form-group">
        <%= f.label :purpose, 'Propósito da Locação' %>
        <%= f.text_area :purpose, class: 'form-control ' %>
      </div>
      <div class="form-check">
        <%= label_tag :accept_usage_rules, class: 'form-check-label' do %>
          <%= f.check_box :accept_usage_rules, class: 'form-check-input' %>
          Concordo com as regras de uso
        <% end %>
      </div>
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>

    <% end %>
    </div>
    <div class="col-md-5">
      <h4>Imóvel a ser enviado a proposta</h4>
      <%= render partial: '/shared/property_thumbnail', locals: {property: @property}%>

    </div>
</div>
