<h1>Proposta</h1>

<p><%= @proposal.property.title %></p>
<p><%= @proposal.user_name %></p>
<p><%= @proposal.email %></p>
<p><%= I18n.localize @proposal.start_date %></p>
<p><%= I18n.localize @proposal.end_date %></p>
<p><%= @proposal.total_guests %></p>
<p><%= @proposal.purpose %></p>
<p><%= number_to_currency(@proposal.total_amount) %>
</p>
<br>
<%= link_to 'Voltar', property_path(@proposal.property) %>
