<!DOCTYPE html>
<html>
  <head>
    <title>AluguelTemporada</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div>
      <%= flash[:message] %>
    </div>
    <div>
      <%= form_tag(search_by_type_properties_path, method: "get") do %>
        <%= label_tag(:name, 'Buscar por tipo do imóvel') %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Buscar por Tipo") %>
      <% end %>

      <%= form_tag(search_by_location_properties_path, method: "get") do %>
        <%= label_tag(:location, 'Digite aqui uma localização para buscar') %>
        <%= text_field_tag(:location) %>
        <%= submit_tag("Buscar por localização") %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
